.container {
  text-align: center;
  position: relative;
  margin-top: 15%;
}

img.grayscale{ 
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);  /* For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
}

img.grayscale:hover{ 
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
}